<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Tutorial</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body bgcolor="cyan">
<div class="goHome my-4">
  <nav class="md:ml-auto flex flex-wrap font-medium items-center text-base justify-center rounded border border-gray-300">
    <a href="/" class="mr-5 hover:text-gray-900">Home</a>
    </nav>
</div>
<form action="register" method="post">
  {% csrf_token %}
<section class="text-red-600 body-font relative">
  <div class="container px-1 py-15 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl my-8 text-2xl font-medium title-font mb-4 text-brown-900">Log In</h1>
    </div>
    <div class="lg:w-1/4 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-full">
          <div class="relative">
            <label for="username" class="leading-7 text-md text-red-600">User Name</label>
            <input type="text" id="username" name="username" class="w-full bg-white-100 bg-opacity-100 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="pass1" class="leading-7 text-md text-red-600">Password</label>
            <input type="password" id="pass1" name="pass1" class="w-full bg-white-100 bg-opacity-100 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto my-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<div class="text-center">
   {% for message in messages%}
      <h3>{{message}} </h3>
   {% endfor %}
</div>
</body>
</html>